<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="read_table_files/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Read Page </title>
</head>  
<body>  
    <center> <h1> READ PAGE </h1> </center>  
     
    <a href="https://coviddatabasediasmanap.herokuapp.com/">HOME</a>
    <br>
    <table>
    
        <tbody><tr>
        
            <th>country name</th>
        
            <th>population</th>
        
        </tr>

        
            <tr>
                
                    <td> Congo </td>
                
                    <td> 26872599 </td>
                
            </tr>
        
            <tr>
                
                    <td> Malta </td>
                
                    <td> 15557845 </td>
                
            </tr>
        
            <tr>
                
                    <td> Gabon </td>
                
                    <td> 12475306 </td>
                
            </tr>
        
            <tr>
                
                    <td> Guinea </td>
                
                    <td> 96279084 </td>
                
            </tr>
        
            <tr>
                
                    <td> Qatar </td>
                
                    <td> 60719628 </td>
                
            </tr>
        
            <tr>
                
                    <td> Liechtenstein </td>
                
                    <td> 32557248 </td>
                
            </tr>
        
            <tr>
                
                    <td> Cyprus </td>
                
                    <td> 55390443 </td>
                
            </tr>
        
            <tr>
                
                    <td> Chile </td>
                
                    <td> 37186896 </td>
                
            </tr>
        
            <tr>
                
                    <td> Philippines </td>
                
                    <td> 48620874 </td>
                
            </tr>
        
            <tr>
                
                    <td> Kyrgyzstan </td>
                
                    <td> 13544781 </td>
                
            </tr>
        
            <tr>
                
                    <td> Yugoslavia </td>
                
                    <td> 82869586 </td>
                
            </tr>
        
            <tr>
                
                    <td> Dominica </td>
                
                    <td> 21167344 </td>
                
            </tr>
        
            <tr>
                
                    <td> Panama </td>
                
                    <td> 22681220 </td>
                
            </tr>
        
            <tr>
                
                    <td> Sudan </td>
                
                    <td> 33736084 </td>
                
            </tr>
        
            <tr>
                
                    <td> Kazakhstan </td>
                
                    <td> 17750581 </td>
                
            </tr>
        
    </tbody></table>


    <br>
   
</body></html>